<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="activity in toDoList">
                <div v-if="activity.done == false">{{activity.text}}</div>
                <div v-else class="linTro">{{activity.text}}</div>
            </li>
        </ul>
    </div>
    <script src="index.js"></script>
</body>
</html>